In [2]:
import pandas as pd
import numpy as np

In [59]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [8]:
chipo.head(10) #See 10 entries from the top

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [10]:
chipo.shape[0] #See the number of entries/observations

4622

In [11]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [15]:
len(chipo.columns)

5

In [18]:
print(f"Number of rows: {chipo.shape[0]}; Number of columns: {chipo.shape[1]}")

Number of rows: 4622; Number of columns: 5

In [19]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [35]:
c = chipo.groupby("item_name")
c = c.sum()
c = c.sort_values(["quantity"], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [37]:
c.head(1)["quantity"]

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [45]:
d = chipo.groupby("choice_description").sum()
d = d.sort_values(["quantity"], ascending=False)
d.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [48]:
total_items_ordered = chipo.quantity.sum()
total_items_ordered

4972

In [50]:
chipo.item_price.dtype

dtype('O')

In [62]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

In [63]:
chipo.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [64]:
chipo.item_price.dtype

dtype('float64')

In [70]:
revenue = (chipo["quantity"] * chipo["item_price"]).sum()
print(f"The revenue was: {np.round(revenue, 2)}")

The revenue was: 39237.02

In [74]:
chipo.order_id.value_counts().count() # value_counts returns a Series object containing the counts of unique values

1834

In [81]:
chipo["revenue"] = chipo["quantity"] * chipo["item_price"]
chipo_ordered = chipo.groupby(by=["order_id"]).sum()
chipo_ordered.mean()["revenue"]

21.39423118865867

In [98]:
chipo.groupby(by=['order_id']).sum().mean()

quantity       2.711014
item_price    18.811429
revenue       21.394231
dtype: float64

In [87]:
chipo.item_name.value_counts().count()

50